/*******头部背景样式****/
/*header {
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FD5524), to(#F9291F));
	color: #fff;
}
.mui-bar .mui-icon {
	color: #fff;
}
.mui-bar .mui-title {
	color: #fff;
}
.mui-bar .mui-btn-link {
    padding-right: 10px;
    font-size: small;
    color: white;
}*/
/********浮动**********/
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
/*********左右对齐********/
 .inline{
 	display: inline-block;
 }
 /******隐藏********/
.hide {
	display: none;
}
/*******搜索框样式********/
.search {
	padding: 10px;
	padding-bottom: 0;
	background-color: #fff;
}
.mui-input-row.mui-search input[type=search] {
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	border-radius: 17px;
}
.search-wrapper {
	top: 104px;
}
/*******字体样式*******/
.font-gray {
	color: #a2a2a2;
}
.font-red {
	color: #ff6060;
}
.font-black {
	color: #6a6761;
}
.li-price {
	font-weight: bold;
	color: #ff6060;
}
.font-12 {
	font-size: 12px;
}
.line-through {
	text-decoration: line-through;
}
.num {
	color: #777777;
}
/***********遮罩层***************/
.modal-backdrop {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1040;
    transition: opacity 0.15s linear 0s;
    opacity: 0.7;
}
/********弹框*******/
.case{
	position: fixed;
    top: 35%;
    width: 262px;
    left: 50%;
    margin-left: -131px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
    z-index: 1050;
}
.case .top {
	width: 100%;
	height: 40px;
	background-color: #ED3E2F;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.case .center {
	padding: 30px 40px;
	text-align: center;
	color: #6a6761;
}
.case .footer {
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
.case .footer .left {
	display: inline-block;
	width: 50%;
	background: -webkit-linear-gradient(top, #f35961,#f35961);
	background: -moz-linear-gradient(top, #FCBD3D,#F88D31);
	background: linear-gradient(top, #FCBD3D,#F88D31);
}
.case .footer .left:active {
	background: -webkit-linear-gradient(top, #FA4635,#FF6835);
	background: -moz-linear-gradient(top, #FA4635,#FF6835);
	background: linear-gradient(top, #FA4635,#FF6835);
}
.case .footer .right {
	display: inline-block;
	width: 50%;
	background: -webkit-linear-gradient(top, #5bb561,#5bb561);
	background: -moz-linear-gradient(top, #FC703F,#FA4534);
	background: linear-gradient(top, #FC703F,#FA4534);
}
.case .footer .right:active {
	background: -webkit-linear-gradient(top, #C32A1B,#C74C1B);
	background: -moz-linear-gradient(top, #C32A1B,#C74C1B);
	background: linear-gradient(top, #C32A1B,#C74C1B);
}
.case .footer .singal {
	display: inline-block;
	width: 100%;
	background: -webkit-linear-gradient(top, #FC703F,#FA4534);
	background: -moz-linear-gradient(top, #FC703F,#FA4534);
	background: linear-gradient(top, #FC703F,#FA4534);
}
.case .footer .singal:active {
	background: -webkit-linear-gradient(top, #C32A1B,#C74C1B);
	background: -moz-linear-gradient(top, #C32A1B,#C74C1B);
	background: linear-gradient(top, #C32A1B,#C74C1B);
}
/*******按钮**********/
.btn-back {
	min-width: 82px;
	/*height: 33px;*/
	display: inline-block;
	vertical-align: top;
    white-space: nowrap;
	padding: 6px 22px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
    /*line-height: 1.42;*/
	text-align: center;
	background: url(../img/button.png) no-repeat;
	background-size: 100% 100%;
}
.btn-back:hover {
	background: url(../img/button-hover.png) no-repeat;
	background-size: 100% 100%;
}
/**********空列表样式********/
.empty_list {
	color: red;
	padding-top: 150px;
	padding-bottom: 450px;
	background-color: #efeff4;
	text-align: center;
	font-size: 25px;
}
/**********等待字体样式********/
.spinner-text-container {
	width: 100%;
	text-align: center;
	position: absolute;
	color:#FBDC9F;
	z-index: 9999999;
	font-size: 18px;
	top:55%;
}
#mask_container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: 999999;
}
/**********赢销截拳道log样式********/
.logo {
	text-align: left;
    margin-bottom: 10px;
    width: 100%;
    display: table;
    padding: 20px 10px 10px 10px;
    border-bottom: 3px solid #e51c1b;
}
.img-responsive {
	max-width: 100%;
}
.main-btn {
    cursor: pointer;
    width: 50%;
    height: 42px;
    border-bottom: 2px solid #900719;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #e51c1b;
    border-radius: 3px;
    border: 0;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
/**********提示警告语字体样式********/
h5, .h5 {
    font-size: 14px;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning {
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    line-height: 20px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.8;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
/**********技术支持字体样式********/
.technical-support {
	text-align: center;
	color: #007AFF; 
	font-size:13px;
	margin-top: 30px;
	padding-bottom: 20px;
}
.bg-color{
	background-color: white;
}
